<html>
  <head>
    <title>Prices, eh?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static\style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular.min.js"></script>

    <script src="static\node_modules\api-check\dist\api-check.js"></script>
    <script src="static\node_modules\angular\angular.min.js"></script>
    <script src="static\node_modules\angular-formly\dist\formly.min.js"></script>
    <script src="static\node_modules\angular-formly-templates-bootstrap\dist\angular-formly-templates-bootstrap.js"></script>

    <!-- Application Scripts -->
    <script src="static\app.js"></script>
    <script src="static\scripts\MainController.js"></script>
    <script src="static\scripts\SecondController.js"></script>
    <script src="static\scripts\province.js"></script>
    <script src="static\scripts\width.js"></script>
    <script src="static\scripts\length.js"></script>

  </head>
  <body ng-app="formlyApp">
<tabset>
  <tab heading="Get a price">
        <div class="container col-md-4 col-md-offset-4" ng-controller="SecondController as vm">

        <form name="vm.rentalForm" ng-submit="vm.onSubmit()" novalidate>
            <h1>Get a price, eh?</h1>
            <formly-form model="vm.rental" fields="vm.rentalFields" form="vm.rentalForm">
                <button type="submit" class="btn btn-primary" ng-disabled="vm.rentalForm.$invalid">Submit</button>
            </formly-form>
        </form> 

    </div>
  </tab>
  <tab heading="Set a price">
        <div class="container col-md-4 col-md-offset-4" ng-controller="MainController as vm">

        <form name="vm.rentalForm" ng-submit="vm.onSubmit()" novalidate>
            <h1>Set a price, eh?</h1>
            <formly-form model="vm.rental" fields="vm.rentalFields" form="vm.rentalForm">
                <button type="submit" class="btn btn-primary" ng-disabled="vm.rentalForm.$invalid">Submit</button>
                <br><label style="color:Green" ng-show="vm.rental.success">Success</label>
                <label style="color:Red" ng-show="vm.rental.failure">Failure</label>
            </formly-form>
        </form>
    </div>
  </tab>
</tabset>
  </body>
</html>